<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mail.reset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mail.reset.greeting(${user.firstName})}">Привет, User.</p>
<p th:text="#{mail.reset.info(${user.email})}">Мы получили запрос на установку нового пароля JiraRush для учетной записи: user@email.com.</p>
<a th:href="${resetUrl}" th:text="#{mail.reset.button}">Установить пароль</a>
</body>
</html>
